:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: #rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tr td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}


h1{
  color: #fff;
}

.today, th td{
  background-color: #9230d3;
  color: rgb(255, 255, 255);
}

.event, th td{
  background-color: #5c80f7;
  color: rgb(255, 255, 255);
}

.pastmonth, th td {
  background-color: #505050;
  color: rgb(255, 255, 255);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.9rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
  background:  #5e86ea;
  
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: #9230d3;
  color: var(--color-white);
  border: 1px solid transparent;
}